* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2{
  color:#ccc;
}

.navbar-side {
top:55px;
width: 200px;
height: 100vh;
position: fixed;
background-color: #343a40;
-webkit-transition: 0.2s all ease-in-out;
transition: 0.2s all ease-in-out;
}

.navbar-side h6 {
color: #fff;
margin: 9px 0 10px 20px;
font-size: 18px;
line-height: 1.6;
white-space: nowrap;
}

.navbar-side ul li {
list-style-type: none;
}

.navbar-side ul li a {
padding: 10px;
display: inline-block;
text-decoration: none;
color: #ccc;
font-size: 1.1em;
width: 100%;
padding-left: 20px;
-webkit-transition: 0.2s all ease-in-out;
transition: 0.2s all ease-in-out;
white-space: nowrap;
}

.navbar-side ul li a:hover,
.navbar-side ul li a.link-active {
background-color: #212121;
border-left: 5px solid #ccc;
}

.navbar-side ul li a .icon {
padding-right: 10px;
}

.content {
margin-left: 200px;
-webkit-transition: 0.2s all ease-in-out;
transition: 0.2s all ease-in-out;
}

.content #navBtn {
font-size: 20px;
}

.main.animate .navbar-side {
width: 60px;
-webkit-transition: 0.2s all ease-in-out;
transition: 0.2s all ease-in-out;
}

.main.animate .navbar-side .link-text {
display: none;
}

.main.animate .navbar-side .myCaret {
display: none;
}

.main.animate .content {
margin-left: 60px;
}

.myBtn[aria-expanded="false"] .myCaret:before {
font-family: "Font Awesome 5 Free";
font-weight: 900;
content: "f107";
float: right;
transition: all 0.5s;
}

.myBtn[aria-expanded="true"] .myCaret:before {
font-family: "Font Awesome 5 Free";
font-weight: 900;
content: "f107";
float: right;
transition: all 0.5s;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
}

@media (max-width: 991px) {
.main .navbar-side {
  top:55px;
  width: 40px;
  -webkit-transition: none;
  transition: none;
  font-size: 0.8em;
}
.main .navbar-side .link-text {
  display: none;
}
.main .navbar-side .caret {
  display: none;
}
.main .navbar-side h6 {
  margin: 9px 0 10px 9px;
  font-size: 1.2em;
  line-height: 1.9;
}
.main .navbar-side ul li a {
  padding-left: 10px;
}
.main .navbar-side ul li a:hover,
.main .navbar-side ul li a.link-active {
  border-left: 2px solid #ccc;
}
.main .content {
  margin-left: 40px;
}
.main.animate .navbar-side {
  width: 40px;
  -webkit-transition: none;
  transition: none;
}
.main.animate .navbar-side .link-text {
  display: none;
}
.main.animate .navbar-side .caret {
  display: block;
}
.main.animate .content {
  margin-left: 40px;
}
.myCaret {
  display: none;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  } 
}



@media (max-width: 767px) {
  .main .navbar-side {
    top:55px;
    width: 40px;
    -webkit-transition: none;
    transition: none;
    font-size: 0.8em;
  }
  .main .navbar-side .link-text {
    display: none;
  }
  .main .navbar-side .caret {
    display: none;
  }
  .main .navbar-side h6 {
    margin: 9px 0 10px 9px;
    font-size: 1.2em;
    line-height: 1.9;
  }
  .main .navbar-side ul li a {
    padding-left: 10px;
  }
  .main .navbar-side ul li a:hover,
  .main .navbar-side ul li a.link-active {
    border-left: 2px solid #ccc;
  }
  .main .content {
    margin-left: 40px;
  }
  .main.animate .navbar-side {
    width: 40px;
    -webkit-transition: none;
    transition: none;
  }
  .main.animate .navbar-side .link-text {
    display: none;
  }
  .main.animate .navbar-side .caret {
    display: block;
  }
  .main.animate .content {
    margin-left: 40px;
  }
  .myCaret {
    display: none;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    } 
  }
  





.divider-x{
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
}
.divider-m{
  margin-top: 0px;
  padding: 20px;

}
.bg-mdark{
  background-color: #38393b;
}
.bg-mgray{
  background-color: #424752;
  border-color: #424752;

}


.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0px;
}
.text-sm {
  font-size: .850rem;
  line-height: 1.25rem;
  margin : 0; 
  padding-top:0;
}
.text-gray{
color: #ccc;
}
label{
color: #ccc;
}

.fill-100{
  height: 100%;
}
.pbox{
height: 80px;
}
a:hover {
text-decoration: none;
}


.bg-custom-1 {
background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.form-sm{
width: 40%;
}
select.selected{
color:white;
}
.ml-20{
  margin-left: 20rem;
}



.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #555555;
  border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #555555;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #848884;
}


.scroll-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px;
}
ul{
list-style-type:none;
}
.card{
background-color:#232630;

}

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40;
  width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add styles for the avatar */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  display: inline-block;
  margin-left: 10px;
}

/* Add styles for the avatar dropdown menu */
.dropdown-content a {
  color: #ccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #424752;
}

